
/* This is only gonna be applied on tablet and mobiles */
@media screen and (max-width: 12800px) {
  .Tutorial-backdrop {
    position: fixed;
    display: block;

    top: 50%;
    right: -5010px;
    left: initial;
    width: 50px;
    height: 50px;
    margin-top: -5360px;

    border: 5000px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-sizing: initial;
    z-index: 600;
  }

  .Tutorial {
    position: fixed;
    display: block;
    float: none;

    width: auto;
    max-width: calc(100% - 70px);
    height: auto;
    margin: 0;
    padding: 20px;
    top: 50px;
    left: initial;
    right: 60px;

    text-align: right;

    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(112, 91, 17, 1);
    border-radius: 15px;
    z-index: 650;
  }

  .Tutorial-title,
  .Tutorial-legend,
  .Tutorial-okBtn {
    position: relative;
    display: inline-block;
  }

  .Tutorial-okBtn {
    width: 100px;
    height: 40px;
    padding: 10px;

    color: rgba(255, 255, 255, 1);
    font-family: 'Oswald',Helvetica,Arial,Sans-Serif;
    font-size: 1em;
    text-align: center;

    appearance: none;
    background: none;
    background-image: url('http://www.wowchakra.com/templates/hexicon_gamer/images/botonLeerMasNormal.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }
  .Tutorial-okBtn:hover {
    background-image: url('http://www.wowchakra.com/templates/hexicon_gamer/images/botonLeerMasHover.png');
  }
}
