/* This is only gonna be applied on tablets */
@media screen and (min-width: 721px) and (max-width: 1280px) {

  /* Item Preview */
  /* Image preview */
  .WowchakraEnhacer #k2Container .catItemImageBlock {
    position: relative;
    float: left;
    width: 40%;
    overflow: hidden;
  }

  .WowchakraEnhacer #k2Container .catItemHeader,
  .WowchakraEnhacer #k2Container .catItemBody,
  .WowchakraEnhacer #k2Container .catItemLinks {
    float: right;
    width: calc(60% - 10px) !important;
    margin-left: 10px;
  }

  .WowchakraEnhacer #k2Container .catItemReadMore {
    float: right;
    margin-top: -10px;
  }

  .WowchakraEnhacer #s5_bottom_area_wrap1 .customabovecolumns iframe,
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom iframe {
    left: 0;
    width: 100%;

    transform: scale(1) translateX(0);
  }

  /* This is only gonna be applied on landscape mode */
  @media screen and (orientation: landscape) {

    /**************************/
    /** GALLERY ***************/
    /**************************/
    /* Gallery Thumbnails */
    .WowchakraEnhacer #k2Container.itemView .itemFullText .sigplus-gallery ul li {
      width: 21% !important;
    }
  }
}
