/* This is only gonna be applied on tablet and mobiles */
@media screen and (max-width: 1280px) {
  /**************************/
  /** HEADER ****************/
  /**************************/
  .WowchakraEnhacer .s5_wrap {
    width: auto;
    max-width: 100%;

    overflow: hidden;
  }

  .WowchakraEnhacer #s5_header_wrap {
    position: relative;
    display: block;

    text-align: center;
    z-index: 400;
  }

  /** These items are:
  #s5_logo: Big wowchakra logo
  .phpHeader_wow_text: Logo subtitle
  #pypHeader_wow: Table with network links
  #s5_search_wrap: Search box
  */
  .WowchakraEnhacer #s5_logo, 
  .WowchakraEnhacer .pypHeader_wow_text, 
  .WowchakraEnhacer #pypHeader_wow, 
  .WowchakraEnhacer #s5_search_wrap {
    position: relative;
    display: block;
    float: none;

    top: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;

    text-align: center;
  }

  .WowchakraEnhacer #s5_logo {
    margin-bottom: 0;
  }

  /* Social links table (this aligns center the table) */
  .WowchakraEnhacer #pypHeader_wow .menupyp {
    margin: auto;
  }

  /* Search field */
  .WowchakraEnhacer #s5_search_wrap #mod-search-searchword[name='searchword'].inputbox{
    width: calc(100% - 80px);
    margin: 0;
    margin-bottom: 15px;
  }

  /* Legion countdown */
  .WowchakraEnhacer #s5_search_wrap {
    height: auto;
  }
  .WowchakraEnhacer #s5_search_wrap .moduletable_bannerMop {
    text-align: center;
  }
  .WowchakraEnhacer #s5_search_wrap .moduletable_bannerMop .cdub_main_bannerMop {
    position: relative;
    float: none;

    width: 200px;
    margin: 0 auto;
  }

  /* Custom toggle enhacements link */
  .WowchakraEnhacer .WowchakraEnhacer-toggleEnhacements {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
  }

  /* Cookies notification */
  .WowchakraEnhacer .cc_banner-wrapper,
  .WowchakraEnhacer .cc_banner-wrapper .cc_banner.cc_container.cc_container--open {
    position: relative;
    display: block;

    width: 100%;
    height: auto;

    clear: both;
  }
  .WowchakraEnhacer .cc_banner-wrapper {
    margin: 0;
    padding: 0;
  }

  /**************************/
  /** NAVIGATION ************/
  /**************************/
  .WowchakraEnhacer #s5_menu_wrap,
  .WowchakraEnhacer #s5_menu_wrap_inner2 {
    position: relative;
    display: block;

    height: auto;
    margin: 0 auto;
    padding: 0;

    background: rgba(0, 0, 0, 0.4);
    z-index: 500;
  }
  .WowchakraEnhacer #s5_menu_wrap {
    margin-top: -10px;
  }
  .WowchakraEnhacer #s5_menu_wrap::before,
  .WowchakraEnhacer #s5_menu_wrap::after {
    position: relative;
    display: block;

    width: 100%;
    height: 5px;

    background-color: grey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    content: ' ';
  }
  .WowchakraEnhacer #s5_menu_wrap::before {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 1);
  }
  .WowchakraEnhacer #s5_menu_wrap::after {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  }

  /* Sections nav */
  .WowchakraEnhacer #s5_nav.menu {
    position: relative;
    display: block;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .WowchakraEnhacer #s5_nav.menu li {
    position: relative;
    display: inline-block;
    float: none;

    background-position: center center;
  }

  /* User login button */
  .WowchakraEnhacer #s5_loginreg {
    position: fixed;
    display: block;
    float: right;

    top: 0;
    left: initial;
    right: 0;
    width: auto;
    max-width: 50%;
    padding: 5px;
    height: auto;
    margin: 0 auto;

    text-align: right;

    background: rgba(112, 91, 17, 0.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 0 10px;
  }

  .WowchakraEnhacer #s5_loginreg #s5_register.s5box_register,
  .WowchakraEnhacer #s5_loginreg #s5_login.s5box_login {
    float: none;

    height: auto;
  }

  /* This allow us to display the 'account icon' next to 'Register' */
  .WowchakraEnhacer #s5_loginreg #s5_register .s5boxmenu,
  .WowchakraEnhacer #s5_loginreg #s5_login .s5boxmenu {
    margin: 5px auto;
    margin-left: 20px;
  }

  /* Navigation menu */
  .WowchakraEnhacer #subMenusContainer {
    position: initial !important;
    display: initial !important;

    width: auto !important;
    height: auto !important;
    left: initial !important;
    top: initial !important;

    overflow: initial !important;
    z-index: initial !important;
  }
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_rtl,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_rtl ul,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower ul,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower_rt1,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower_rt1 ul {
    width: 100% !important;
    height: auto !important;
    left: 0 !important;

    transition: transform .3s;
    z-index: 1000000 !important;
  }

  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_rtl.is-hidden,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower.is-hidden,
  .WowchakraEnhacer #subMenusContainer .s5_sub_wrap_lower_rt1.is-hidden {
    transform: translateX(-100%);
  }

  /**************************/
  /** SOCIAL LINKS **********/
  /**************************/
  .WowchakraEnhacer #s5_top_row1_area1,
  .WowchakraEnhacer #s5_top_row1_area2 {
    margin: 0 auto;
    padding: 0;
    background: none;
  }
  .WowchakraEnhacer #s5_top_row1_area1 {
    margin-bottom: 10px;
  }

  .WowchakraEnhacer #bloque_redes_sociales {
    position: relative;
    display: block;
    float: none;

    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
  }

  .WowchakraEnhacer #bloque_redes_sociales #s5_facebook,
  .WowchakraEnhacer #bloque_redes_sociales #s5_twitter,
  .WowchakraEnhacer #bloque_redes_sociales #s5_google,
  .WowchakraEnhacer #bloque_redes_sociales #s5_youtube,
  .WowchakraEnhacer #bloque_redes_sociales #s5_rss,
  .WowchakraEnhacer #bloque_redes_sociales #s5_gravatar {
    position: relative;
    display: inline-block;

    margin: 0;
  }

  /**************************/
  /** TOP ROW (HERO BANNER) */
  /**************************/
  /* Slider/gallery */
  .WowchakraEnhacer #s5_pos_top_row1_1,
  .WowchakraEnhacer #s5_pos_top_row1_2 {
    position: relative;
    display: block;
    float: none;

    width: 100% !important;

    text-align: center;
  }
  .WowchakraEnhacer .module_round_box_outer,
  .WowchakraEnhacer .module_round_boxslider {
    margin: 0;
  }
  .WowchakraEnhacer #s5_pos_top_row1_1 #myGallery{
    width: 100% !important;
    margin-bottom: 20px;
  }
  .WowchakraEnhacer #s5_pos_top_row1_1 #myGallery .slideElement {
    background-size: 100% auto;
  }
  .WowchakraEnhacer #s5_pos_top_row1_1 #myGallery .right {
    left: initial;
  }

  /* Ads next to the Gallery */
  .WowchakraEnhacer .custombanner300top {
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  /**************************/
  /** CONTENT PREVIEW *******/
  /**************************/
  .WowchakraEnhacer #s5_bottom_area_wrap1 {
    margin: 0;

    text-align: center;
  }

  /* Ads before content */
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_center_area_inner #s5_above_columns_wrap1 {
    position: relative;
  }
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_above_columns_1 {
    float: none;
  }
  .WowchakraEnhacer #s5_bottom_area_wrap1 .customabovecolumns {
    position: relative;
    display: block;

    width: auto;
    margin: 0 auto;
    padding: 0;

    text-align: center;
  }
  .WowchakraEnhacer #s5_bottom_area_wrap1 .customabovecolumns iframe {
    position: relative;
    display: block;
    float: left;

    left: 0;
    width: 728px;

    transform: scale(0.40) translateX(-70%);
  }

  /* Common styles (left/right columns) */
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_center_column_wrap,
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_columns_wrap_inner,
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_center_column_wrap_inner,
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_right_column_wrap {
    float: none;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Left column */
  .WowchakraEnhacer #s5_center_column_wrap #s5_component_wrap {
    margin: 0 auto;
  }
  .WowchakraEnhacer #s5_center_column_wrap .itemListView, #s5_center_column_wrap .itemListView .itemContainer {
    padding: 0;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  /* Preview */
  /* Header */
  .WowchakraEnhacer #k2Container .catItemHeader {
    display: block !important;
    position: relative;
  }

  .WowchakraEnhacer #k2Container .catItemHeader .catItemTitle {
    margin-bottom: 10px;
  }

  /* Item preview */
  .WowchakraEnhacer #k2Container .catItemView {
    position: relative;
  }

  /* Like button */
  .WowchakraEnhacer #k2Container .likebtn_container {
    position: absolute;
    display: block;

    top: 30px;
    right: 35px;
    width: auto;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
  }
  .WowchakraEnhacer #k2Container .likebtn-wrapper {
    position: relative !important;
    display: block !important;
    float: none !important;

    top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Comments button */
  .WowchakraEnhacer #k2Container .catItemCommentsLink {
    position: absolute;
    top: initial;
    left: initial;
    bottom: -5px;
    right: 0;
    padding: 0;
  }
  .WowchakraEnhacer #k2Container .catItemCommentsLink .commentsbadge {
    float: none;
    display: inline-block;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-indent: 0;
  }

  /* Item preview */
  .WowchakraEnhacer #k2Container .catItemBody {
    position: relative;
    display: block !important;

    width: 100% !important;
    height: 160px !important;
    max-height: none !important;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    z-index: -1;
  }

  /* Text preview */
  .WowchakraEnhacer #k2Container .catItemIntroText {
    padding: 5px;
  }
  
  /* Read more */
  .WowchakraEnhacer #k2Container .k2ReadMore {
    width: 98px;
    height: 40px;
    padding: 12px 28px;
  }

  /* Pagination */
  .WowchakraEnhacer .k2Pagination {
    position: relative;
    display: block;
  }

  .WowchakraEnhacer .k2Pagination ul {
    position: relative;
    display: block;

    width: 100%;
    height: auto;
    margin: 0 auto !important;
    margin-bottom: 10px;

    text-align: center;
  }
  .WowchakraEnhacer .k2Pagination ul > li,
  .WowchakraEnhacer .k2Pagination .pagination-first,
  .WowchakraEnhacer .k2Pagination .pagination-prev,
  .WowchakraEnhacer .k2Pagination .pagination-next,
  .WowchakraEnhacer .k2Pagination .pagination-last {
    position: relative;
    display: inline-block !important;
    float: none;

    padding: 15px;
  }

  /**************************/
  /** ARTICLE DETAIL ********/
  /**************************/
  /* Item Container */
  .WowchakraEnhacer #k2Container.itemView {
    position: relative;
    display: block;
    float: none;

    width: 100%;
    margin: 0;
    padding: 15px;

    text-align: justify;

    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    overflow: hidden;
  }
  .WowchakraEnhacer #k2Container.itemView > div {
    position: relative;
    display: block;
    float: left;

    width: 100%;
  }
  /* Item Header */
  .WowchakraEnhacer #k2Container.itemView .itemHeader {
    margin-bottom: 10px;
  }
  /* Comments Link */
  .WowchakraEnhacer #k2Container.itemView .itemCommentsLink{
    position: relative;
    display: block;
    float: right;

    width: 100%;
    margin: 0;
    margin-bottom: 10px;

    clear: both;
  }
  .WowchakraEnhacer #k2Container.itemView .itemCommentsLink .commentsbadge{
    position: relative;

    margin: 0;
  }
  /* Item body */
  .WowchakraEnhacer #k2Container.itemView .itemBody {
    position: relative;
    display: block;
    float: left;

    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    text-align: center;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText {
    width: 100%;
  }
  /* Images */
  .WowchakraEnhacer #k2Container.itemView .itemFullText .cabecera,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .cabecera img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText img {
    max-width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul li:not(.tabber_tab) img {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText a.qc4 img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText img.vertical {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  .WowchakraEnhacer #k2Container.itemView .itemFullText p {
    position: relative;
    display: inline-block;

    width: 100%;
    margin: 0 !important;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText iframe {
    width: 100%;
  }

  /* Article section separator */
  .WowchakraEnhacer #k2Container.itemView .itemFullText .panelchakratitularlegion {
    position: relative;
    display: inline-block;
    float: none;

    width: 100%;
    max-width: 540px;
    height: auto;
    min-height: 88px;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
    padding-top: 32px !important;

    font-size: 20px;
    line-height: 1.1;
    vertical-align: middle;

    background-position: center center;
    background-size: 100%;
    clear: both;
  }

  .WowchakraEnhacer #k2Container.itemView .itemFullText .panelchakratitular,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondo,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodlock,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodshaman,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowod2,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddk,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddruid,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodhunter,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodmage,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodmonk,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodpaladin,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodpriest,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodrogue,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodwarrior,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddh {
    position: relative;
    display: inline-block;

    max-width: 100%;
    min-height: 50px;
    height: auto;
    margin: 20px auto;
    padding: 10px;

    line-height: 1.5;

    background-size: auto 100%;
  }

  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodlock img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodshaman img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowod2 img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddk img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddruid img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodhunter img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodmage img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodmonk img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodpaladin img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodpriest img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodrogue img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowodwarrior img,
  .WowchakraEnhacer #k2Container.itemView .itemFullText h4.fondowoddh img {
    float: left;
  }

  .WowchakraEnhacer #k2Container.itemView .itemFullText .panelchakratitular {
    font-size: 24px;

    background-size: 100% 100%;
  }

  .WowchakraEnhacer #k2Container.itemView .itemFullText .panelchakra,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionlock,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionschaman,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .secciondk,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .secciondruid,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionhunter,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionmage,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionmonk,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionpaladin,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionpriest,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .seccionrogue,
  .WowchakraEnhacer #k2Container.itemView .itemFullText .secciondh {
    position: relative;
    display: block;
    float: left;

    width: 100%;
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
  }

  /* Some lists styles */
  /* Simple list into the article */
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul:not(.tabber_tabs) {
    position: relative;
    display: inline-block;
    float: left;

    padding: 0;

    clear: both;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul:not(.tabber_tabs) li:not(.tabber_tab) {
    position: relative;
    display: inline-block;

    width: 100%;
  }

  /* Tab styled list */
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul.tabber_tabs li.tabber_tab {
    height: auto;
    margin: 0 !important;
    margin-right: 2px !important;
    padding: 0 !important;

    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul.tabber_tabs a {
    height: auto;
    padding: 10px 20px;

    box-sizing: border-box;
  }

  /* About us modifications */
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul.tabber_tabs li.tabber_tab.aboutus {
    border: none;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul.tabber_tabs li.tabber_tab.aboutus a {
    padding: 5px;

    border-radius: 5px 5px 0px 0px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText ul.tabber_tabs li.tabber_tab.aboutus img {
    position: relative;
    display: block;

    max-height: 56px;
    margin: 0
  }

  /* Some table styles */
  .WowchakraEnhacer #k2Container.itemView .itemFullText table {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }

  /* Item like button */
  .WowchakraEnhacer #k2Container.itemView .likebtn_container{
    position: absolute;
    display: block;
    float: none;

    top: -33px;
    left: initial;
    right: 25px;
  }

  /* Item body spacer */
  .WowchakraEnhacer #k2Container.itemView .linea1,
  .WowchakraEnhacer #k2Container.itemView .linea2,
  .WowchakraEnhacer #k2Container.itemView .linea3 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* Item Links */
  .WowchakraEnhacer #k2Container.itemView .itemLinks .addthis_toolbox2,
  .WowchakraEnhacer #k2Container.itemView .itemLinks .itemTagsBlock {
    position: relative;
    display: block;

    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
  }
  /* Social links */
  .WowchakraEnhacer #k2Container.itemView .itemLinks .addthis_toolbox2 {
    float: none;
  }
  /* Tags */
  .WowchakraEnhacer #k2Container.itemView .itemLinks .spanEtiquetas {
    position: relative;
    display: block;

    margin: 0;
    padding: 10px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemLinks .spanEtiquetas .itemTagsImagen {
    position: relative;
    display: inline;

    margin: 0;
    margin-right: 10px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemLinks .itemTags {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  /* Adds before related items */
  .WowchakraEnhacer #k2Container.itemView .custom_banner728_article {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
  }

  /* User comments */
  /* Paginator */
  .WowchakraEnhacer #k2Container.itemView #comments div#nav-top,
  .WowchakraEnhacer #k2Container.itemView #comments div#nav-bottom {
    position: relative;
    display: block;
    margin: 10px auto;
  }
  .WowchakraEnhacer #k2Container.itemView #comments div#nav-top > *,
  .WowchakraEnhacer #k2Container.itemView #comments div#nav-bottom > *{
    position: relative;
    display: inline-block;

    width: 33px;
    height: 33px;
    margin: 5px;
    padding: 0;

    line-height: 33px;

    background-position: center center;
  }

  /* Avatar */
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-avatar {
    position: relative;
    display: inline-block;
    float: left;

    width: 48px;
    height: 48px;
    margin: 10px;
    padding: 0;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-avatar img {
    margin: 0;
    padding: 0;
  }

  /* Comment itself */
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box {
    position: relative;
    display: inline-block;
    float: left;

    width: calc(100% - 68px);
    height: auto;
    margin: 10px 0;
    padding: 0;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .comments-vote {
    min-width: 95px;
    height: auto;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .vote-good,
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .vote-poor {
    margin: 0 10px;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .comment-author {
    margin: 0;
    margin-top: 50px;
    margin-left: -73px;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .comment-body {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 20px;

    line-height: 1.5;
  }
  .WowchakraEnhacer #k2Container.itemView #comments-list .comment-box .comments-buttons {
    width: auto;
    height: auto;
    padding: 5px 10px;
  }


  /**************************/
  /** ABOUT US **************/
  /**************************/
  .WowchakraEnhacer #k2Container.itemView.marketing h1 {
    position: relative;
    display: block;
    float: left;

    width: calc(100% + 30px);
    height: auto;
    margin: 0;
    margin-left: -15px;
    margin-bottom: 10px;
    padding: 10px;

    text-align: left;
    text-indent: 0px;
  }
  .WowchakraEnhacer #k2Container.itemView.marketing h1 img.logoPyPmarketing{
    position: absolute;
    display: block;
    float: right;

    left: initial;
    right: 0px;
    width: auto;
    height: 100px !important;
    margin: 0;
    margin-top: -25px;
  }
  .WowchakraEnhacer #k2Container.itemView.marketing table img {
    width: 128px;
    max-width: none !important;
    margin-right: 10px;
  }


  /**************************/
  /** SIDEBAR ***************/
  /**************************/
  /* Right column  */
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_right_column_wrap {
    position: fixed;
    display: block;
    float: right;

    top: 150px;
    left: initial;
    right: -200px;
    width: 200px !important;
    height: calc(100% - 170px);
    margin: 0 !important;
    padding: 15px;

    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 0 0 10px;
    transition: top 0.3s, right 0.3s;
    z-index: 500;
  }
  /* Small hack to open when 'click' on menu icon */
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_right_column_wrap.sidebar-open {
    top: 50px;
    right: 0;
    width: 80% !important;
    max-width: 400px;
    height: calc(100% - 70px);
  }

  /* Toggle for Right column */
  /*
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_right_column_wrap::before {
    position: absolute;
    display: block;
    float: none;

    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin-left: -50px;

    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('http://www.material-css.com/material-icons/mc-menu-dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 40px;
    border-radius: 10px 0 0 10px;
    content: ' ';
    opacity: 1;
    transition: opacity 0.3s;
  }
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_right_column_wrap:hover::before {
    opacity: 0;
  }
  */
  /* Right bar toggle */
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_columns_wrap_inner .sidebar-toggle {
    position: fixed;
    display: block;
    float: right;

    top: 150px;
    left: initial;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-left: -50px;

    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('http://www.material-css.com/material-icons/mc-menu-dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 40px;
    border-radius: 10px 0 0 10px;
    transition: top 0.3s, right 0.3s;
    z-index: 500;
  }
  .WowchakraEnhacer #s5_bottom_area_wrap1 #s5_columns_wrap_inner .sidebar-toggle.sidebar-open {
    top: 60px;
  }

  /* Right column content */
  .WowchakraEnhacer #s5_right_column_wrap_inner {
    position: relative;
    display: block;
    float: left;

    height: 100%;

    overflow: hidden;
    overflow-y: auto;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap {
    position: relative;
    display: block;
    float: left;

    width: 100% !important;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .module_round_box_outer {
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 1px solid rgba(112, 91, 17, 1);
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .bannergroupbanner300_250_UP,
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .custombanner300_250_UP {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }

  /* Sliders */
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .slides_control, #s5_right_column_wrap #s5_right_wrap .slides_control .slide {
    width: 100% !important;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .slides_control {
    margin-left: 100%;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .slides_control .slide {
    left: 0 !important;
  }
  
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .bt-cs {
    position: relative !important;
    display: inline-block;
    margin: 5px auto !important;
    text-align: center;
    width: 100% !important;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .bt_handles {
    position: relative !important;
    display: inline-block;
    margin: 5px auto !important;
  }

  /* Token price fixes */
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .dataregion {
    padding: 6px 0;
    padding-right: 45px;
  }
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .dataoro {
    padding-right: 20px;
  }

  /* Comments fixes */
  .WowchakraEnhacer #s5_right_column_wrap #s5_right_wrap .jcomments-latest li {
    position: relative;
  }

  /**************************/
  /** FOOTER ****************/
  /**************************/
  /* Recent items and Related Items */
  .WowchakraEnhacer #s5_below_columns_1 {
    float: none;

    margin-bottom: 10px;
  }
  .WowchakraEnhacer #s5_below_columns_1 .module_round_boxcontenido {
    margin: 0;
  }
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido,
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul,
  .WowchakraEnhacer #k2Container.itemView .itemRelated,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul {
    position: relative;
    display: block;
    float: left;

    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido {
    padding: 15px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemRelated h3 {
    margin: 0;
    margin-bottom: 10px;
  }

  /* Recent item list */
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul > li,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li {
    position: relative;
    display: block;
    float: left;

    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(112, 91, 17, 1)
  }
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul > li.clearList,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li.clearList {
    display: none;
  }

  /* List Item content */
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul > li .moduleItemIntrotext,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li {
    position: relative;
    display: block;
    float: left;

    width: 100%;

    text-align: left;
    clear: both;
  }
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li > * {
    display: inline;

    max-width: calc(65% - 15px);
  }
  /* Image preview */
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul > li .moduleItemImage,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li .itemRelImg {
    position: relative;
    display: inline-block;
    float: left;

    width: 35%;
    margin-right: 10px;
  }
  .WowchakraEnhacer #s5_below_columns_1 .k2ItemsBlock.contenido ul > li img {
    position: relative;
    display: block;

    width: 100%;
  }
  /* Comments links */
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li .itemCommentsLinkRelated,
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li .commentsbadge {
    position: absolute;
    display: block;
    float: left;

    top: initial;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li .itemCommentsLinkRelated{
    left: calc(35% - 15px);
    bottom: 10px;
  }
  .WowchakraEnhacer #k2Container.itemView .itemRelated ul > li .commentsbadge {
    position: relative;

    padding-top: 4px;
  }

  /* Adds before footer */
  .WowchakraEnhacer #s5_bottom_row1_area1 {
    position: relative;
    display: block;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    text-align: center;

    border: none;
  }
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom {
    position: relative;
    display: block;
    float: none;

    width: auto;
    height: auto;
    max-height: none;
    margin: 0 auto;
    padding: 0;
  }
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom iframe,
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom img {
    position: relative;
    display: block;
    float: left;
  }
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom iframe {
    left: 0;
    width: 728px;

    transform: scale(0.40) translateX(-70%);
  }
  .WowchakraEnhacer #s5_bottom_row1_area1 .custombanner728bottom img {
     width: 100%;
  }

  /* Footer links*/
  .WowchakraEnhacer #s5_bottom_row2_area1 {
    position: relative;
    display: block;

    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_1,
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_2,
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_3,
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_4 {
    position: relative;
    display: block;
    float: none;

    width: 100% !important;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    text-align: left;
  }
  /* Website logo */
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_1 {
    margin: 0;
    padding: 0;

    text-align: center;
  }
  /* Website sections */
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_2,
  .WowchakraEnhacer #s5_bottom_row2_area1 #s5_pos_bottom_row2_3 {
    margin-bottom: 20px;

    border-bottom: 1px solid rgba(112, 91, 17, 1);
  }
  .WowchakraEnhacer #s5_bottom_row2_area1 .menu li {
    margin: 10px auto;
  }

  /* Footer text */
  .WowchakraEnhacer #s5_footer_area1 {
    position: relative;
    display: block;
    float: none;

    width: 100%;
    margin: 0;
    padding: 15px;
  }
  .WowchakraEnhacer #s5_footer_area1 #s5_footer_area_inner2 {
    padding: 0;
  }

  /* Scroll top */
  .WowchakraEnhacer .s5_scrolltotop {
    position: fixed;
    display: block;
    float: right;

    top: initial;
    left: initial;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin: 0;

    background-color: rgba(0, 0, 0, 1);
    background-position: center;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 400;
  }

  /**************************/
  /** BG ADDS ***************/
  /**************************/
  .WowchakraEnhacer #siteSkin {
    background-position: top left;
  }

  /**************************/
  /** POPUPS ****************/
  /**************************/
  /* Account popup */
  .WowchakraEnhacer #colorbox {
    position: fixed;

    top: 50% !important;
    left: 50% !important;
    width: 50% !important;
    height: 50% !important;
    margin: 0 auto !important;
    padding: 0 !important;

    transform: translateX(-50%) translateY(-50%);
  }
  .WowchakraEnhacer #colorbox #cboxWrapper,
  .WowchakraEnhacer #colorbox #cboxWrapper #cboxContent,
  .WowchakraEnhacer #colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
    float: none !important;

    width: 100% !important;
    height: 100% !important;

    border: none !important;
  }
  .WowchakraEnhacer #colorbox #cboxWrapper #cboxMiddleLeft{
    float: none !important;

    height: auto !important;
  }

  /**************************/
  /** GALLERY ***************/
  /**************************/
  /* Gallery Thumbnails */
  .WowchakraEnhacer #k2Container.itemView .itemFullText .sigplus-gallery ul li {
    position: relative;
    display: inline-block;
    float: left;

    width: 29.33% !important;
    margin: 5px 2% !important;
  }
  .WowchakraEnhacer #k2Container.itemView .itemFullText .sigplus-gallery ul li a img{
    position: relative;
    display: inline-block;

    width: 100%;
  }

  /* Picture detail popup */
  .WowchakraEnhacer #boxplus .boxplus-dialog {
    position: fixed;

    top: 50% !important;
    left: 50% !important;

    transform: translatex(-50%) translateY(-50%);
  }

  /* Inline controls */
  .WowchakraEnhacer #boxplus .boxplus-viewer .boxplus-enlarge {
    top: 10px;
    left: initial;
    right: 10px;

    z-index: 200;
  }
  .WowchakraEnhacer #boxplus .boxplus-viewer .boxplus-thumbs {
    display: none;
  }

  /* Footer controls (next, prev) */
  .WowchakraEnhacer #boxplus .boxplus-bottom .boxplus-controls {
    text-align: center;
  }
  .WowchakraEnhacer #boxplus .boxplus-bottom .boxplus-controls * {
    position: relative;

    margin: 10px;
  }
}
