/******************************************************/
/** WowChakra enhacer **********************************/
/** Author: ImperdibleSoft ****************************/
/** Website: http://www.imperdiblesoft.com ************/
/******************************************************/

/* Reseting some basic stuff when tablet/mobile */
@import url('./partials/reset.css');

/* Tablet and mobile rules */
@import url('./partials/tablet-and-mobile.css');

/* Tablet rules */
@import url('./partials/tablet.css');

/* Mobile rules */
@import url('./partials/mobile.css');

/* Tutorial rules */
@import url('./partials/Tutorial.css');

/* This fix the text color on comment-form buttons */
.WowchakraEnhacer #comments-inline-edit #comments-form .btn a,
.WowchakraEnhacer #comments-inline-edit #comments-report-form .btn a,
.WowchakraEnhacer #comments-inline-edit #comments-form .btn a:hover,
.WowchakraEnhacer #comments-inline-edit #comments-report-form .btn a:hover {
  color: rgba(0, 0, 0, 1) !important;
}

.WowchakraEnhacer-toggleEnhacements {
  display: none;
  cursor: pointer;
}